@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap);

document, body {
   margin: 0px;
   font-family: 'Roboto Slab';
   height: 100vh;
}

/* Container */

.container {
    display:
}

p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 50px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

* {
    outline: 5px solid purple !important;
 }


/* Navigation Bar */
.navigation {
   display: flex;
   text-align: center;
   font-size: larger;
   list-style: none;
   margin: 0; 
   background: black;
 }
 
 .navigation a {
   text-decoration: none;
   display: block;
   padding: 1.5em;
   color: white;
 }
 
 .navigation a:hover {
   background:darkgray;
 }


